<div class="d-flex flex-column align-items-center">
    <h1 class="text-center mt-2" id="titolo_edit">Dettaglio Scarico</h1>
    <button title="Torna a Lista Scarichi" class="btn btn-info text-white ms-lg-5 ms-auto me-auto mt-2 align-self-start" (click)="tornaIndietro()">Back</button>
    <div *ngIf="scarico.idScarico > 0" class="card col-10 offset-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 m-3 contenitore_card">
        <div class="card-header fw-bolder text-center bg-dark text-warning">
            Codice Scarico: {{scarico.idScarico}} -
            Fornitore: {{ scarico.fornitore.nomeDittaFornitore }} -
            Dipendente: {{ scarico.dipendente.cognome }} {{ scarico.dipendente.nome }}
        </div>
        <div *ngFor="let detScar of listaDettagliScarico" class="card-body">
            <h4 class="card-text text-center coloriMenu">
                Prodotto: {{ detScar.prodotto.nome }} - Marca: {{detScar.prodotto.marca}}
            </h4>
            <h6 *ngIf="detScar.qtaAcquisto>0" class="card-text text-center">
                Quantità Prodotto: {{ detScar.qtaAcquisto }}
            </h6>
            <h6 *ngIf="detScar.pesoAcquisto>0" class="card-text text-center">
                Quantità Prodotto: {{ detScar.pesoAcquisto }}
            </h6>
            <h5 class="card-text text-center fw-light"><span class="fw-bold fst-italic text-decoration-underline">
                Prezzo Totale Acquisto: {{ detScar.prezzoAcquisto | currency: '€' }}</span> - Prezzo Acquisto Unitario: {{detScar.prezzoUnitario | currency: '€'}}
            </h5>
            <h6 class="card-text text-center">
                Data Prenotazione: {{ detScar.scarico.dataPrenScar | date:'dd/MM/yyyy' }}
            </h6>
            <h6 *ngIf="detScar.scarico.dataRegScar!=null" class="card-text text-center">
                Data Registrazione: {{detScar.scarico.dataRegScar | date: 'dd/MM/yyyy'}}
            </h6>
        </div>
    </div>
</div>
