<nav class="footer text-center py-3 border-top">
    <div class="container-fluid">
        <div class="d-flex justify-content-center align-items-center">
            <span>Progetto realizzato da: Damiano Tiberi. Riferimenti: </span>
            <h4 class="d-inline-block">
                <a href="https://www.linkedin.com/in/damiano-tiberi-8288b114a/">
                    <i class="bi bi-linkedin mx-2 coloriMenu"></i>
                </a>
            </h4>
            <h4 class="d-inline-block">
                <a href="https://github.com/DamTib4638">
                    <i class="bi bi-github coloriMenu"></i>
                </a>
            </h4>
        </div>
    </div>
</nav>
