<div class="d-flex flex-column align-items-center">
    <h1 class="text-center mt-2">Dettaglio Transazione</h1>
    <button title="Torna a Lista Transazioni" class="btn btn-info text-white ms-lg-5 ms-auto me-auto mt-2 align-self-start" (click)="tornaIndietro()">Back</button>
    <div *ngIf="transazione.idTransazione > 0" class="card col-10 offset-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 m-3 contenitore_card">
        <div class="card-header fw-bolder bg-dark text-center text-warning">
            Codice Transazione: {{transazione.idTransazione}} - Cassa N°: {{transazione.cassa.numeroCassa}} - Dipendente: {{transazione.dipendente.cognome}} {{transazione.dipendente.nome}}
        </div>
        <div *ngFor="let detTran of listaDettagliTransazione" class="card-body">
            <h4 class="card-text text-center coloriMenu">
                Prodotto: {{detTran.prodotto.nome}} - Marca: {{detTran.prodotto.marca}}
            </h4>
            <h6 *ngIf="detTran.qtaVendita>0" class="card-text text-center">
                Quantità Prodotto: {{detTran.qtaVendita}}
            </h6>
            <h6 *ngIf="detTran.pesoVendita>0" class="card-text text-center">
                Quantità Prodotto: {{detTran.pesoVendita}}
            </h6>
            <h5 class="card-text text-center fw-light"><span class="fw-bold fst-italic text-decoration-underline">
                Prezzo Totale Vendita: {{detTran.prezzoVendita | currency: '€'}}</span> - Prezzo Vendita Unitario: {{detTran.prezzoUnitario | currency: '€'}}
            </h5>
            <h6 class="card-text text-center">
                Data Emissione: {{detTran.transazione.dataEmissioneTransazione | date: 'dd/MM/yyyy'}}
            </h6>
            <h6 *ngIf="detTran.transazione.dataPagamentoTransazione!=null" class="card-text text-center">
                Data Pagamento: {{detTran.transazione.dataPagamentoTransazione | date: 'dd/MM/yyyy'}}
            </h6>
        </div>
    </div>
</div>
