<div class="container">
    <h1 class="text-center">Nuova Transazione</h1>
    <form #cassaScelta="ngForm" (ngSubmit)="cassaScelta.valid && scegliCassa(cassaScelta)">
        <div class="row mb-3">
            <div class="col-sm-6 offset-3 text-center">
                <label class="form-label" for="idCassa">Cassa *</label>
                <select class="form-select mb-3" name="idCassa" ngModel #idCassa="ngModel" required>
                    <option value="">--</option>
                    <option *ngFor="let cassa of listaCasse" value="{{cassa.idCassa}}">
                        {{cassa.idCassa}} - {{cassa.numeroCassa}}
                    </option>
                </select>
                <span *ngIf="idCassa.invalid && (idCassa.dirty || idCassa.touched)"
                    class="text-info bg-transparent d-block">
                    La Cassa è OBBLIGATORIA
                </span>
                <button type="submit" class="btn btn-info text-white" [disabled]="cassaScelta.invalid">Scegli
                    Cassa</button>
            </div>
        </div>
        <div *ngIf="cassaScelta.valid && cassa.idCassa==cassaScelta.value.idCassa && cassa.idCassa>0" class="d-flex justify-content-center mt-2 align-items-center">
            <label>CODICE CASSA SCELTA: {{cassa.idCassa}}</label>
        </div>
    </form>
    <form #newTransazione="ngForm" (ngSubmit)="newTransazione.valid && aggiungiProdottoDto(newTransazione)">
        <div class="row align-items-center border border-start-0 border-end-0">
            <div class="col-sm-6 offset-3 text-center mb-3">
                <label class="form-label" for="idProdotto">Prodotti *</label>
                <select class="form-select mb-3" id="idProdotto" name="idProdotto" ngModel #idProdotto="ngModel"
                    required>
                    <option value="">--</option>
                    <option *ngFor="let prod of listaProdotti" value="{{prod.idProdotto}}">
                        {{prod.idProdotto}} - {{prod.nome}}</option>
                </select>
                <input class="me-5 text-center" *ngIf="idProdotto.value > 0" type="number" name="quantitaProdotto"
                    id="quantitaProdotto" ngModel #quantitaProdotto="ngModel" required min="1">
                <button type="submit" class="btn btn-info text-white" [disabled]="newTransazione.invalid">Aggiungi
                    Prodotto</button>
            </div>
        </div>
    </form>
    <div *ngFor="let prDto of listaProdottiDto" class="d-flex justify-content-center mt-2 align-items-center">
        <label class="me-5">ID: {{prDto.idProdotto}} - QUANTITà: {{prDto.quantita}}</label>
        <button class="btn btn-danger me-3 text-white" (click)="eliminaProdottoDto(prDto.idProdotto)">Elimina</button>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <button class="btn btn-info me-3 text-white" (click)="tornaIndietro()">Back</button>
        <button class="btn btn-info text-white" (click)="insert()"
            [disabled]="newTransazione.invalid || cassaScelta.invalid || listaProdottiDto.length < 1 || cassa.idCassa < 1">Invia
            Nuova Transazione</button>
    </div>
</div>
