<section class="content-main">
    <div class="row mt-5">
        <div class="col-sm-12">
            <div class="w-50 mx-auto text-center bg-trasparent">
                <!-- <img src="../../../assets/images/" width="350" alt="Page Not Found"> -->
                <h3 class="mt-4">Oops! Pagina non trovata</h3>
                <p>Smettila di far finta di sbagliare!!! Torna al</p>
                <a href="welcome" class="btn btn-transparent mt-4"><img src="../../../assets/images/piccol.jpg"
                        width="40" height="40" alt="#"></a>
            </div>
        </div>
    </div>
</section>
