img {
    display: inline-block;
}

.dipdip {
    margin-right: 10px;
    margin-left: 20px;
}

nav {
    margin-bottom: 0.8%;
    background: rgba(70, 70, 70);
}

.coloriMenu {
    background: rgba(70, 70, 70);
    color: #03e9f4;
}

.coloriMenu:hover {
    color: white;
}
