.contenitore_card {
    filter: drop-shadow(3px 0 3px #000);
    background-color: rgba(70, 70, 70);
}

.coloriMenu {
    color: #03e9f4;
}

h3 {
    @media screen and (max-width: 547px) {
        font-size: 1em;
    }
}

h6 {
    @media screen and (max-width: 547px) {
        font-size: 0.8em;
    }
}

.testo, .testo span {
    @media screen and (max-width: 547px) {
        font-size: 0.9em;
    }
}
