<!-- <div class="container text-center mt-5">
    <div *ngIf="ruolo.includes('DIRETTORE')">
        <h1>Buon Lavoro {{dipendente.cognome}} {{dipendente.nome}} - RUOLO: DIRETTORE.</h1>
        <h3>Alla fine, SO SEMPRE DU RIGHE DE CODICE</h3>
    </div>
    <div *ngIf="ruolo.includes('MAGAZZINIERE')">
        <h1>Buon Lavoro {{dipendente.cognome}} {{dipendente.nome}} - RUOLO: MAGAZZINIERE.</h1>
        <h3>Ricorda che SEI IGNORANTISSIMO</h3>
    </div>
    <div *ngIf="ruolo.includes('CASSIERE')">
        <h1>Buon Lavoro {{dipendente.cognome}} {{dipendente.nome}} - RUOLO: CASSIERE.</h1>
        <h3>SEI FORTISSIMO!!! IL MIGLIORE IN TUTTO!! UN ONORE CONOSCERTI!</h3>
    </div>
    <div *ngIf="ruolo.includes('RESPONSABILE')">
        <h1>Buon Lavoro {{dipendente.cognome}} {{dipendente.nome}} - RUOLO: RESPONSABILE.</h1>
    </div>
    <div *ngIf="ruolo.includes('PULIZIA')">
        <h1>Buon Lavoro {{dipendente.cognome}} {{dipendente.nome}} - RUOLO: PULIZIA.</h1>
    </div>
    <div *ngIf="ruolo.includes('MANAGER')">
        <h1>Buon Lavoro {{dipendente.cognome}} {{dipendente.nome}} - RUOLO: MANAGER.</h1>
    </div> -->
<!-- <h1 *ngIf="ruolo.includes('DIRETTORE')">Buon Lavoro {{dipendente.cognome}} {{dipendente.nome}} - RUOLO: DIRETTORE. Sei nella home del supermercato.</h1>
    <h1 *ngIf="ruolo.includes('MAGAZZINIERE')">Buon Lavoro {{dipendente.cognome}} {{dipendente.nome}} - RUOLO: MAGAZZINIERE. Sei nella home del supermercato.</h1>
    <h1 *ngIf="ruolo.includes('CASSIERE')">Buon Lavoro {{dipendente.cognome}} {{dipendente.nome}} - RUOLO: CASSIERE. Sei nella home del supermercato.</h1>
    <h1 *ngIf="ruolo.includes('RESPONSABILE')">Buon Lavoro {{dipendente.cognome}} {{dipendente.nome}} - RUOLO: RESPONSABILE. Sei nella home del supermercato.</h1>
    <h1 *ngIf="ruolo.includes('PULIZIA')">Buon Lavoro {{dipendente.cognome}} {{dipendente.nome}} - RUOLO: PULIZIA. Sei nella home del supermercato.</h1>
    <h1 *ngIf="ruolo.includes('MANAGER')">Buon Lavoro {{dipendente.cognome}} {{dipendente.nome}} - RUOLO: MANAGER. Sei nella home del supermercato.</h1> -->
<!-- </div> -->

<div class="d-flex flex-column align-items-center">
    <h1 class="text-center mt-2" id="titolo_edit">Buon Lavoro!</h1>
    <div *ngIf="dipendente" class="card w-50 m-3 contenitore_card">
        <div class="card-header fw-bolder bg-dark text-warning">
            Dipendente N°: {{ dipendente.idDipendente}} - Nominativo: {{dipendente.cognome}} {{dipendente.nome}} -
            Ruolo:
            <span *ngIf="ruolo.includes('DIRETTORE')" class="bg-transparent text-warning fw-bolder">Direttore</span>
            <span *ngIf="ruolo.includes('BANCO')" class="bg-transparent text-warning fw-bolder">Magazziniere
                Banco</span>
            <span *ngIf="ruolo.includes('SCAFFALE')" class="bg-transparent text-warning fw-bolder">Magazziniere
                Scaffale</span>
            <span *ngIf="ruolo.includes('CASSIERE')" class="bg-transparent text-warning fw-bolder">Cassiere</span>
            <span *ngIf="ruolo.includes('RESPONSABILE')"
                class="bg-transparent text-warning fw-bolder">Responsabile</span>
            <span *ngIf="ruolo.includes('PULIZIA')" class="bg-transparent text-warning fw-bolder">Addetto alla
                Pulizia</span>
            <span *ngIf="ruolo.includes('MANAGER')" class="bg-transparent text-warning fw-bolder">Manager</span>
        </div>
        <div class="card-body">
            <img class="img-fluid mx-auto d-block rounded-circle my-3" *ngIf="ruolo.includes('DIRETTORE')"
                src="../../../assets/images/dipendente.jpg" alt="User" width="100">
            <img class="img-fluid mx-auto d-block rounded-circle my-3" *ngIf="ruolo.includes('CASSIERE') && dipendente.cognome.includes('Gavioli')" src="../../../assets/images/gavioli.jpg" alt="User" width="100">
            <img class="img-fluid mx-auto d-block rounded-circle my-3" *ngIf="ruolo.includes('CASSIERE') && dipendente.cognome.includes('Pastore')" src="../../../assets/images/francesco.jpg" alt="User" width="100">
            <img class="img-fluid mx-auto d-block rounded-circle my-3" *ngIf="ruolo.includes('BANCO')"
                src="../../../assets/images/ferrucci.jpg" alt="User" width="100">
            <img class="img-fluid mx-auto d-block rounded-circle my-3" *ngIf="ruolo.includes('SCAFFALE')"
                src="../../../assets/images/violi.jpg" alt="User" width="100">
            <h3 class="card-text text-center text-warning">Contatti Dipendente</h3>
            <h3 class="card-text text-center text-info">Email: {{ dipendente.email }}</h3>
            <h3 class="card-text text-center text-info">Telefono: {{dipendente.telefono}}</h3>
            <h6 class="card-text text-center text-warning">Dettagli Dipendente</h6>
            <h6 class="card-text text-center">Codice Fiscale: {{ dipendente.codFis }} - Età: {{dipendente.eta}}</h6>
            <h6 class="card-text text-center">Indirizzo: {{ dipendente.indirizzo }} - Città: {{dipendente.citta}}</h6>
        </div>
    </div>
</div>
