<div class="d-flex flex-column align-items-center">
    <h1 class="text-center mt-2" id="titolo_edit">Dettaglio Dipendente</h1>
    <button class="btn btn-info text-white ms-5 mt-2 align-self-start" (click)="tornaIndietro()">Back</button>
    <div *ngIf="dipendente" class="card w-50 m-3 contenitore_card">
        <div class="card-header fw-bolder bg-dark text-warning">
            Dipendente N°: {{ dipendente.idDipendente}} - Nominativo: {{dipendente.cognome}} {{dipendente.nome}} -
            Ruolo:
            <span *ngIf="ruolo.includes('DIRETTORE')" class="bg-transparent text-warning fw-bolder">Direttore</span>
            <span *ngIf="ruolo.includes('BANCO')" class="bg-transparent text-warning fw-bolder">Magazziniere
                Banco</span>
            <span *ngIf="ruolo.includes('SCAFFALE')" class="bg-transparent text-warning fw-bolder">Magazziniere
                Scaffale</span>
            <span *ngIf="ruolo.includes('CASSIERE')" class="bg-transparent text-warning fw-bolder">Cassiere</span>
            <span *ngIf="ruolo.includes('RESPONSABILE')"
                class="bg-transparent text-warning fw-bolder">Responsabile</span>
            <span *ngIf="ruolo.includes('PULIZIA')" class="bg-transparent text-warning fw-bolder">Addetto alla
                Pulizia</span>
            <span *ngIf="ruolo.includes('MANAGER')" class="bg-transparent text-warning fw-bolder">Manager</span>
        </div>
        <div class="card-body">
            <img class="img-fluid mx-auto d-block rounded-circle my-3" *ngIf="ruolo.includes('DIRETTORE')"
                src="../../../assets/images/dipendente.jpg" alt="User" width="100">
            <img class="img-fluid mx-auto d-block rounded-circle my-3" *ngIf="ruolo.includes('CASSIERE') && dipendente.cognome.includes('Gavioli')"
                src="../../../assets/images/gavioli.jpg" alt="User" width="100">
            <img class="img-fluid mx-auto d-block rounded-circle my-3" *ngIf="ruolo.includes('CASSIERE') && dipendente.cognome.includes('Pastore')"
                src="../../../assets/images/francesco.jpg" alt="User" width="100">
            <img class="img-fluid mx-auto d-block rounded-circle my-3" *ngIf="ruolo.includes('BANCO')"
                src="../../../assets/images/ferrucci.jpg" alt="User" width="100">
            <img class="img-fluid mx-auto d-block rounded-circle my-3" *ngIf="ruolo.includes('SCAFFALE')"
                src="../../../assets/images/violi.jpg" alt="User" width="100">
            <h3 class="card-text text-center text-warning">Contatti Dipendente</h3>
            <h3 class="card-text text-center text-info">Email: {{ dipendente.email }}</h3>
            <h3 class="card-text text-center text-info">Telefono: {{dipendente.telefono}}</h3>
            <h6 class="card-text text-center text-warning">Dettagli Dipendente</h6>
            <h6 class="card-text text-center">Codice Fiscale: {{ dipendente.codFis }} - Età: {{dipendente.eta}}</h6>
            <h6 class="card-text text-center">Indirizzo: {{ dipendente.indirizzo }} - Città: {{dipendente.citta}}</h6>
        </div>
    </div>
</div>
